@charset "UTF-*";

body {
    margin: auto;
}

ul {
    margin: auto;
}


#icon a {
    line-height: 50px;
    display: inline;
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 20px;
    color: #333;
}

#icon a:hover {
    color: #6d351b;
}


#menu ul {
    background-color: rgb(193, 218, 236);
    height: 50px;
    padding: 20px;
    text-align: right;

}

#menu ul li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 50px;
    color: #333;
    display: inline;
    margin: 0px 20px;
}

#menu ul li a {
    color: #333;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #F9C;
}